@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato "string"?</h3>
    <br/>
    
    <div style="margin: 10px 10px">
        <a class="btn btn-primary w-25" role="button">Sim</a>
        <a class="btn btn-danger w-25" role="button" asp-controller="Contato" asp-action="Index">Não</a>
    </div>
    
</div>

